fastapi
uvicorn
sqlalchemy
psycopg2-binary
requests
python-dotenv
pgvector
opencv-python
torch
torchvision
torchaudio
ultralytics
deep_sort_realtime
scikit-learn
numpy
cython
h5py
faiss-cpu
lap
# Torchreid는 GitHub에서 직접 설치
git+https://github.com/KaiyangZhou/deep-person-reid.git
